@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts ----------------------- */
@font-face{
  font-family:'may';
  src: url('../public/fonts/Quick.ttf');
}

@font-face{
font-family:'min';
src: url('../public/fonts/Quicksand.ttf');
}

.may{
  font-family:'may';
}
/* ---------------------------- */
html,
body {
  
  padding: 0;
  margin: 0;
  font-family: 'min',-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    
    background: rgb(255, 255, 255);
    color: #7B94b1;
  }
}

/* ======================= My class ===========================*/
.cube{
  clip-path: polygon(0 7%, 66% 0, 100% 17%, 100% 88%, 33% 100%, 0 74%);
  background: linear-gradient(90deg,  rgba(87,87,87,1) 0%, rgba(163,163,163,1) 35%, rgba(240,239,242,1)100%);
}

.text-shadow{
  text-shadow: 2px 2px 1px rgba(255, 255, 255, 1);
}

.lista{
  list-style-type:square;
}

/*========= Agrandar imagen al hacer hover =============0 */
.box:hover  .shad2{
  transform: rotate(6deg);
  transform: matrix(1, 0.1, -0.1, 1, 0, 8);
}
.box:hover  .ef-img{
  transform: scale(1.1);
  filter:brightness(0.5);
}




/* =========================Button Join whitelist================================== */
.button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  /* border: 1px solid #7B94b1 ; */
  border-radius:1.625rem ;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  
 }
 
 .button.learn-more {
  width: 15rem;
  height: auto;
 }
 
 .button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #7B94b1;
  border-radius: 1.625rem;
 }
 
 .button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
  
 }
 
 .button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
 }
 
 .button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.31rem;
  right: 0.025rem;
  width: 0.725rem;
  height: 0.725rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
 }
 
 .button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 2.1rem;
  color: #7B94b1;
  font-weight: 600;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
 }
 
 .button:hover .circle {
  width: 100%;
 }
 
 .button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
 }
 
 .button:hover .button-text {
  color: #E1B649;
 }
 /* ============================================================================== */
 /* ============================= button subcribe ================================ */

 .butt {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

.butt-color {
  --primary-color: #7B94b1;
  --hovered-color: #E1B649;
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 10px;
  gap: 0.5rem;
  align-items: center;
}
.butt-color2 {
  --primary-color: white;
  --hovered-color: #E1B649;
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 10px;
  gap: 0.5rem;
  align-items: center;
}

.butt p {
  margin: 0;
  position: relative;
  font-size: 18px;
  color: var(--primary-color)
}

.butt::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -2px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

.butt p::before {
  position: absolute;
  content: "Subscribe";
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}

.butt:hover::after {
  width: 100%;
}

.butt:hover p::before {
  width: 100%;
}

.butt:hover svg {
  transform: translateX(4px);
  color: var(--hovered-color)
}

.butt svg {
  color: var(--primary-color);
  transition: 0.2s;
  position: relative;
  width: 15px;
  transition-delay: 0.2s;
}

/* ======================= METAMASK BUTTON (connect) =======================  */
.buttMeta {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  
}

.buttMeta {
  --primary-color: #7B94b1;
  --hovered-color: #E1B649;
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 10px;
  gap: 0.5rem;
  align-items: center;
}


.buttMeta p {
  margin: 0;
  position: relative;
  font-size: 18px;
  color: var(--primary-color)
}

/* .buttMeta::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -2px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out; */
/* } */

.buttMeta p::before {
  position: absolute;
  content: "Connect";
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}

.buttMeta:hover::after {
  width: 100%;
}

.buttMeta:hover p::before {
  width: 100%;
}

.buttMeta:hover svg {
  transform: translateX(4px);
  color: var(--hovered-color)
}

.buttMeta svg {
  color: var(--primary-color);
  transition: 0.2s;
  position: relative;
  width: 15px;
  transition-delay: 0.2s;
}

/* ======================= CUBE 3D ============================= */
.cubo, .cubo .cara, .cubo .cara-fondo {
	height: 290px;
	width: 290px;
}

.cubo {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-transform: rotateX(0deg) rotateY(-30deg);
	transform: rotateX( 0deg ) rotateY( -30deg );
	margin: 150px auto;

	-webkit-animation: giro 20s infinite linear;
	animation: giro 20s infinite linear;
}

.cubo .cara {
	position: absolute;
	border: 5px solid #7B94b1;
	border-radius: 25px;
}

.cubo .cara img {
	border-radius: 25px;
}

.cubo .cara-fondo{
	background: #7B94b1;
	position: absolute;
	border: 5px solid #7B94b1;
	border-radius: 19px;

}

/*Cara frontal*/
.cubo .cara:nth-child(1) {
	-webkit-transform: translateZ(150px);
	transform: translateZ(150px);
}
/*Cara posterior*/
.cubo .cara:nth-child(2) {
	-webkit-transform: rotateY(180deg) translateZ(150px);
	transform: rotateY(180deg) translateZ(150px);
}
/*Cara izquierda*/
.cubo .cara:nth-child(3) {
	-webkit-transform: rotateY(-90deg) translateZ(150px);
	transform: rotateY(-90deg) translateZ(150px);
}
/*Cara derecha*/
.cubo .cara:nth-child(4) {
	-webkit-transform: rotateY(90deg) translateZ(150px);
	transform: rotateY(90deg) translateZ(150px);
}
/*Cara superior*/
.cubo .cara:nth-child(5) {
	-webkit-transform: rotateX(90deg) translateZ(150px);
	transform: rotateX(90deg) translateZ(150px);
}
/*Cara inferior*/
.cubo .cara:nth-child(6) {
	-webkit-transform: rotateX(-90deg) translateZ(150px);
	transform: rotateX(-90deg) translateZ(150px);
}


/************Caras posteriores*************/
/*Cara frontal*/
.contenedor {
	-webkit-perspective: 500px;
	perspective: 500px;
	perspective-origin: 50% 50%;
}
.cubo .cara-fondo:nth-child(7) {
	-webkit-transform: translateZ(149px);
	transform: translateZ(149px);
}
/*Cara posterior*/
.cubo .cara-fondo:nth-child(8) {
	-webkit-transform: rotateY(180deg) translateZ(149px);
	transform: rotateY(180deg) translateZ(149px);
}
/*Cara izquierda*/
.cubo .cara-fondo:nth-child(9) {
	-webkit-transform: rotateY(-90deg) translateZ(149px);
	transform: rotateY(-90deg) translateZ(149px);
}
/*Cara derecha*/
.cubo .cara-fondo:nth-child(10) {
	-webkit-transform: rotateY(90deg) translateZ(149px);
	transform: rotateY(90deg) translateZ(149px);
}
/*Cara superior*/
.cubo .cara-fondo:nth-child(11) {
	-webkit-transform: rotateX(90deg) translateZ(149px);
	transform: rotateX(90deg) translateZ(149px);
}
/*Cara inferior*/
.cubo .cara-fondo:nth-child(12) {
	-webkit-transform: rotateX(-90deg) translateZ(149px);
	transform: rotateX(-90deg) translateZ(149px);
}

/*Caras interiores para formar una cruz en el centro*/
.cubo .cara-fondo:nth-child(13) {
	-webkit-transform: rotateX(180deg);
	transform: rotateX(180deg);
}

.cubo .cara-fondo:nth-child(14) {
	-webkit-transform: rotateY(90deg);
	transform: rotateY(90deg);
}

.cubo .cara-fondo:nth-child(15) {
	-webkit-transform: rotateX(90deg);
	transform: rotateX(90deg);
}

@-webkit-keyframes giro {
    0% { -webkit-transform: rotateX(-45deg) rotateY(0deg); }
    50% { -webkit-transform: rotateX(45deg) rotateY(360deg); }
    100% { -webkit-transform: rotateX(-45deg) rotateY(720deg); }
}

@keyframes giro {
    0% { transform: rotateX(-45deg) rotateY(0deg); }
    50% { transform: rotateX(45deg) rotateY(360deg); }
    100% { transform: rotateX(-45deg) rotateY(720deg); }
}

@-webkit-keyframes giro360 {
    0% { -webkit-transform: rotateX(  0deg) rotateY(  0deg); }
  100% { -webkit-transform: rotateX(360deg) rotateY(360deg); }
}

@keyframes giro360 {
    0% { transform: rotateX(  0deg) rotateY(  0deg); }
  100% { transform: rotateX(360deg) rotateY(360deg); }
}

/* Film Border  */

@media only screen and (min-width: 640px) {
.bord {
  
  border: solid black;
  border-image-width: 70px;
  border-image-source: url('../public/FILM_FRAME.png');
  border-image-slice: 109;
  border-image-outset: 0px;
  border-image-repeat: round;
}

}
@media only screen and (max-width: 640px) {
  .bord {
    
    border: solid black;
    border-image-width: 35px;
    border-image-source: url('../public/FILM_FRAME.png');
    border-image-slice: 109;
    border-image-outset: 0px;
    border-image-repeat: round;
  }
  
  }
/* slioder Test ----------------------------------------- */

  /* @keyframes slide {
    0% { transform: translateX(0); }
    10% { transform: translateX(0); }
  
    15% { transform: translateX(-100%); }
    30% { transform: translateX(-100%); }
  
    35% { transform: translateX(-200%); }
    50% { transform: translateX(-200%); }
  
    55% { transform: translateX(-300%); }
    70% { transform: translateX(-300%); }
  
    75% { transform: translateX(-400%); }
    90% { transform: translateX(-400%); }
  
    95% { transform: translateX(-500%); }
    100% { transform: translateX(-500%); }
  }
  
  * { box-sizing: border-box; }
  
  html { scroll-behavior: smooth; }
  
  body {
    font-family: sans-serif;
  }
  
  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .slider {
    position: relative;
  }
  
  .slides {
    position: relative;
    display: flex;
    overflow: hidden;
  }
  
  .slide {
    width: 100vw;
    flex-shrink: 0;
    animation-name: slide;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  .slides:hover .slide {
    animation-play-state: paused;
  }
  
  .slide img {
    width: 100%;
    vertical-align: top;
  }
  
  .slide a {
    width: 100%;
    display: inline-block;
    position: relative;
  }
  
  .caption {
    color: white;
    text-shadow: 1px 1px black;
    font-size: 8vw;
    position: absolute;
    bottom: 8vw;
    right: 4vw;
  }
  
  .slide:target {
    animation-name: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
  }
  
  .slider-controler {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 5px;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
  }
  
  .slider-controler li {
    margin: 0 0.5rem;
    display: inline-block;
    vertical-align: top;
  }
  
  .slider-controler a {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
  }
  
  @media only screen and (min-width: 1200px) {
    .slide {
      width: 1200px;
    }
  
    .caption {
      font-size: 96px;
      bottom: 96px;
      right: 50px;
    }
  } */



  /* .item {
    height: 10rem;
    background: #4dc7a0;
    padding: 1rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
   } */

   /* รง=================================================== */


   